@font-face {
    font-family : 'Roboto Condensed';
    font-style : normal;
    font-weight : 100;
    font-display : swap;
    src : url(https://fonts.gstatic.com/s/robotocondensed/v27/ieVo2ZhZI2eCN5jzbjEETS9weq8-_d6T_POl0fRJeyWyo_BJ.ttf) format('truetype');
}
@font-face {
    font-family : 'Open Sans';
    font-style : normal;
    font-weight : 500;
    font-stretch : normal;
    font-display : swap;
    src : url(https://fonts.gstatic.com/s/opensans/v40/memSYaGs126MiZpBA-UvWbX2vVnXBbObj2OVZyOOSr4dVJWUgsiH0C4n.ttf) format('truetype');
    }


:root{
    --primary-color:#232220;
    --secondary-color:#ffffff;
    --accent1-color:#F26B38;
    --accent2-color:#007BFF;

    --heading-font: 'Roboto Condensed', sans-serif;
    --text-font:'Open Sans', sans-serif;
}



*{
    font-family: var(--text-font);
    font-size: 15px;
    color: var(--primary-color);
}


header {

    background-color: var(--primary-color);
    color: var(--secondary-color);
    padding: 20px;

    margin: 1rem auto;
	display: grid;
	grid-template-columns: 120px 1fr 2fr;
	align-items: center;
	border-bottom: 1px solid #ccc;
	max-width: 1300px;
 
}
  
.logo {
   max-width: 150px;
   margin: 0 0.25rem 0 1rem;
   max-height: auto;
}

nav{
    text-align:right;
}

.navigation {
	display: flex;
	list-style: none;
}

.navigation li {
	flex: 1 1 100%;
}
.nav-link {
    display: block;
    text-decoration: none;
    margin-left: 100px; 
    color: var(--secondary-color);
   
	padding: 30px;
	text-decoration: none;
}

.nav-link {
    text-decoration: none; /* Remove underline */
    font-size: 1rem; /* Base font size (adjust for preference) */
    font-weight: bold; /* Bold styling */
    color: #f0f0f0; /* Light font color for contrast */
    transition: color 0.3s ease; /* Smooth hover transition */
    
  }
  
  .nav-link:hover {
    color:tomato; /* Highlight color on hover */
    text-shadow: 1px 1px 3px rgba(255, 87, 34, 0.7); /* Subtle glow effect */
  }

.hero{
    position: relative;
    text-align: center;
    max-width: 1300px;
    margin: auto;
    height: auto;
}
   
.hero-h1{
    position: absolute;
    top: 20%; 
    left: 50%;
    transform: translate(-50%, -50%); 
    font-size: 1.9rem;
    color: var(--accent1-color);
    background-color: rgba(0, 0, 0, 0.5); /* Here I Add a semi-transparent background for readability */
    padding: 10px 20px;
    border-radius: 5px; /* I add a radius to the border of h1 just to add some additional beauty */
}

.hero img {
    display:block ;
    width: 100%;
    height: auto;
}

article {
    position: absolute;
    bottom: 50%;
    left: 50%;
    transform: translateX(-50%);
    width: 80%; /* Here I try to Control the width of the article block */
    background-color: rgba(255, 255, 255, 0.8); /* I make it Semi-transparent background */
    padding: 20px;
    border-radius: 10px;
    color: var(--primary-color);
}
.hero-img-side {
    float: right; 
    margin: 0 0 10px 10px;
    max-width: 200px;     
    height: auto; 
}


p {
    position: relative;
    margin: 0; 
}
.text-image-grid {
    max-width: 1200px;
    margin: 0 auto;
}

.text-image-grid h2 {
    text-align: center;
    margin-bottom: 1rem; 
    font-size: 25px;
}

.grid-content {
  display: grid;
  grid-template-columns: auto auto auto; 
  gap: 1.5rem; 
  text-align: justify;
}

.adven-text-grid{
    max-width: 1200px;
    margin: 0 auto;
}

.adven-text-grid h2{
    text-align: center;
    font-size: 25px;
}

.adven-text-grid img{
    max-width: 170px;
    height: auto;
    border-radius: 20px;
}

.adven-text-grid img {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}
.adven-text-grid img:hover {
    transform: scale(1.05);
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.3);
}
.adv-image-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 1.5rem; /* Here I add Space between the columns */
    text-align: justify;
}

.footer-grid{
    display: grid;
    max-width: 1000px;
    grid-template-columns: 4fr 2fr;
    align-items: center;
    margin: 10px auto;
    padding: 10px;
    border-bottom: 2px solid #232220;
}

.sociallinks a img{
    max-width: 64px;
}

.footer-grid p{
    text-align: center;
}